{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "quotes": [
      "error",
      "double"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ]
  },
  "extends": [
    "@nuxtjs/eslint-config-typescript"
  ],
  "overrides": [
    {
      "files": [
        "./server/**/*.ts"
      ],
      "rules": {
        "no-console": [
          "error",
          {
            "allow": [
              "info",
              "warn",
              "trace",
              "error"
            ]
          }
        ]
      }
    }
  ]
}
